<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
</style>
<ul id="menu">
    <li><a href="https://stratigraphy.org/subcommission-neogene/">Home</a></li>
    <li><a href="members">Members</a></li>
    <li><a href="objectives">Objectives</a></li>
    <li><a href="gssps">GSSPs</a></li>
    <li><a href="archive">Archive</a></li>
    <li><a href="news">News</a></li>
    <li><a href="links">Links</a></li>
</ul>
    
    
    
    
    
    
    
    
    
    
    
    

