<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
</style>
<ul id="menu">
    <li><a href="https://stratigraphy.org/subcommission-permian/">Home</a></li>
    <li><a href="https://stratigraphy.org/subcommission-permian/objectives">Objectives</a></li>
    <li><a href="https://stratigraphy.org/subcommission-permian/officers">Officers</a></li>
    <li><a href="https://stratigraphy.org/subcommission-permian/members">Members</a></li>    
    <li><a href="https://stratigraphy.org/subcommission-permian/working-groups">Working Groups</a></li>
    <li><a href="https://stratigraphy.org/subcommission-permian/gssps">GSSPs</a></li>
    <li><a href="https://stratigraphy.org/subcommission-permian/timescale">Timescale</a></li>
    <li><a href="https://stratigraphy.org/subcommission-permian/publications">Publications</a></li>
    <li><a href="https://stratigraphy.org/subcommission-permian/news">News</a></li>
    <li><a href="https://stratigraphy.org/subcommission-permian/news">Interest to members</a></li>
</ul>
    
<div style="margin-left:25px;">
    <h4>Links</h4>
    <a href="https://stratigraphy.org"><img src="https://stratigraphy.org/subcommission-permian/images/link01.png" alt="" style="width:150px;" /></a><br />
    <a href="http://www.iugs.org"><img src="https://stratigraphy.org/subcommission-permian/images/link02.png" alt="" style="width:150px;" /></a><br />
    <a href="http://www.geobiodiversity.com"><img src="https://stratigraphy.org/subcommission-permian/images/link03.png" alt="" style="width:150px;" /></a><br />
    <a href="http://paleodb.org/cgi-bin/bridge.pl"><img src="https://stratigraphy.org/subcommission-permian/images/link04.png" alt="" style="width:150px;" /></a><br />
    <a href="http://www.scotese.com"><img src="https://stratigraphy.org/subcommission-permian/images/link05.png" alt="" style="width:150px;" /></a><br />
    <a href="http://jan.ucc.nau.edu/~rcb7/RCB.html"><img src="https://stratigraphy.org/subcommission-permian/images/link06.png" alt="" style="width:150px;" /></a><br />
    <a href="http://www.earth-time.org"><img src="https://stratigraphy.org/subcommission-permian/images/link07.png" alt="" style="width:150px;" /></a><br />
    <a href="http://www.nhm.ac.uk/paleonet/Index.html"><img src="https://stratigraphy.org/subcommission-permian/images/link08.png" alt="" style="width:150px;" /></a><br />
    <a href="http://159.226.74.3:7002/main/index.asp"><img src="https://stratigraphy.org/subcommission-permian/images/link09.png" alt="" style="width:150px;" /></a><br />
</div>
